* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: all 0.2s ease;
    user-select: none;
    -webkit-user-drag: none;
    font-family: Roboto;
}

body {
    background: linear-gradient(to top, #9ab6ce, #cfdce7);
    height: 100vh;
}

.container {
    background: #fff;
    width: 30vw;
}
