$color-primary: hsl(228, 57%, 55%);
$font-title: Roboto;

* {
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: all 0.2s ease;
    user-select: none;
    font-family: $font-title;
    -webkit-user-drag: none;
}

body {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: hsl(216, 47%, 64%) !important;
}

.product {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    max-height: 350px;
    min-height: 350px;
    min-width: 300px;

    &:hover {
        background-color: hsl(0, 0%, 96%);
        cursor: pointer;
    }
}

.my-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
}

.product>h3 {
    color: $color-primary;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
}

.product>img {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.product>p {
    font-weight: 500;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.4);
    line-height: 1.3;
}

.product>div {
    display: flex;
    justify-content: center;
    color: $color-primary;
}

.product>div>p {
    padding-top: 8px;
}

.product>div h3 {
    font-size: 30px;
}

.product>div span {
    font-size: 15px;
}

@media (max-width: 640px) {
    .my-container {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        padding: 10px;
        max-width: 400px;
    }
}

@media (max-width: 1024px) {
    .my-container {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        padding: 15px;
    }
}

@media (max-width: 1280px) {
    .my-container {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        padding: 20px;
    }
}
